name: Pylint

on: [push, pull_request]

jobs:
  Pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: install pyscf
        run: ./.github/workflows/install_pyscf.sh
      - name: install pylint
        run: pip install pylint
      - name: style check
        run: ./.github/workflows/lint.sh
